.app-main {
  min-height: calc(100vh - 8rem); 
  
}

.app-footer {
  background-color: #1976d2; 
  color: white;
  text-align: center; 
  padding: 1rem 0; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  flex-direction: column;
  font-size: 0.9rem;

  .container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 1rem;
  }

  p {
    margin: 0;
  }

  @media (max-width: 768px) {
    font-size: 0.8rem;
    padding: 1.5rem 0;
  }
}
