.home-container {
  width: 100%;
  height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  background: #fff;
}

.titulo {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 30px;
  color: oklab(60.483% -0.04788 -0.21128);
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  width: 90%;
  max-width: 450px;
}

.card {
  background: #f3f3f3;
  border-radius: 14px;
  padding: 28px 10px;
  text-align: center;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.12);
  transition: 0.2s ease;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0px 4px 12px rgba(0,0,0,0.18);
}

/* NOVO – coloca o texto acima do ícone */
.card-title {
  font-size: 16px;
  font-weight: 500;
  color: #333;
  margin-bottom: 14px;
  display: block;
  white-space: nowrap; /* impede quebrar linha */
  text-align: center;
}

.card-icon {
  width: 62px;
  height: 62px;
  margin-bottom: 12px;
  color: #000;
  object-fit: contain; /* essencial para PNG ficar bonito */
}

.card span {
  font-size: 16px;
  font-weight: 500;
  color: #333;
  line-height: 18px;
}
